* {
  --red100: rgb(228, 107, 103);

  --orange300: rgb(233, 151, 117);
  --orange200: rgb(239, 165, 134);
  --orange150: rgb(240, 198, 180);
  --orange100: rgb(248, 214, 140);
  --orange50: rgb(255, 242, 215);

  --yellow200: rgb(255, 254, 170);
  /* --yellow100: rgb(255, 242, 215); */

  --paper100: rgb(245, 242, 236);

  --font300: rgb(61, 61, 61);
  --font200: rgb(88, 87, 87);
  --font100: rgba(88, 87, 87, 0.7);

  --shadow100: lightgray;
  --gray100: rgb(236, 236, 236);

  --green300: rgb(103, 173, 91);
  --green200: rgb(129, 199, 117);
  --green100: rgb(164, 222, 154);

  --msg100: rgb(246, 246, 246);
  --msg50: rgba(246, 246, 246, 0.8);

  --back100: rgb(88, 88, 88, 0.7);
}
